body {
	background: linear-gradient(30deg, rgb(143, 140, 140), rgb(248, 246, 246) 40%, rgb(112, 109, 109));
	width: 100%;
	height: auto;
}
#container p{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container a{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


 