<html>
<head>
	<meta charset="utf-8">
	<link href="/projet_defis/CSS/style-alesi.css" media="screen" rel="stylesheet" type="text/css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<title></title>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark navbar-expand-md">
		<div class="container">
			<div class="collapse navbar-collapse" id="monMenuDeroulant">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/projet_defis/views/accueil.php">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/projet_defis/views/interface-bdd.php">Interface BDD</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/projet_defis/views/alesi.html">Le projet Alesi</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/projet_defis/views/sauvegarde56.html">Le projet Sauvegarde 56</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/projet_defis/views/python.html">Le projet Python</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/projet_defis/views/mon_site.html">A propos de ce site</a>
					</li>
					<li class="nav-item" id="compte">
						<a class="nav-link" href="/projet_defis/views/mon-compte.html">Mon compte</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<p id="alesi">Bienvenue dans le projet Alesi</p><br>
	<br>
	<h5>I. Présentation du contexte</h5>
	<p>L'association Alesi fait appel à l'association Défis pour réaliser son site web.</p><br>
	<br>
	<h6>1. Qui est le client Alesi ?</h6>
	<p><strong>Alesi</strong> (Association lanestérienne d’entraide sociale immédiate) est une association de service à la personne, de nettoyage et d'entretien à Lanester (département Morbihan).</p>
	<p><u>L'association a deux pôles d’activités</u> :<br>
	<strong>(Pôle 1)</strong> <u>ALESI AI</u> : Services à la famille et de la vie quotidienne, Entretien des<br>
	espaces verts et jardinage, Travaux d’amélioration de l’habitat, Multi-services particuliers et<br>
	professionnels, Nettoyage de locaux et Mise à disposition de personnel tous secteurs d’activités.<br>
	<br>
	<strong>(Pôle 2)</strong> <u>ALESI SAAD</u> : Maintien d’une autonomie à domicile et Aides à domicile.<br>
	<br>
	<br>
	Pour en savoir plus sur Alesi :<br>
	<a href="https://www.alesi-asso.fr/" target="_blank">https://www.alesi-asso.fr/</a></p><br>
	<hr style="height: 3px; color: #000;">
	<br>
	<br>
	<h5>II. Le projet</h5><br>
	<h6>1. Le cahier des charges</h6>
	<p><strong>Le besoin :</strong> Faire un site web pour l'association Alesi (afin de remplacer leur ancien site)<br>
	<strong>La cible :</strong> public<br>
	<strong>Moyens utilisés pour la conception du site :</strong> CMS WordPress (+thème Divi)<br>
	<strong>Maquettage :</strong> Réalisé par un professionnel indépendant</p><br>
	<p><u>Missions principales :</u><br>
	<strong>1.</strong> Ajouter le contenu sur les pages grâce aux éléments fournies avec la maquette<br>
	<strong>2.</strong> Ajouter le style au contenu (le style de police, taille de police etc... sont indiqués sur la maquette)<br>
	<strong>3.</strong> Créer un pied de page dynamique (formulaire de contact, lien vers les réseaux sociaux)<br>
	<strong>4.</strong> Gérer le responsive du site<br></p>
	<p>Temps estimé pour réaliser les missions: 3 semaines (du 01/11/2021 au 19/11/2021)<br>
	A partir du moment où j'arrive sur le projet, celui-ci était déjà en cours et du contenu avait déjà été ajouté au site.<br>
	Le projet a précisément débuté à la mi-octobre et le site sera déployé fin décembre - début janvier 2022.<br>
	Temps total de la réalisation du projet : 2 mois<br>
	<br></p>
	<h6>2. Les technologies utilisées</h6><br>
	<p><u>a. Wordpress, c'est quoi ?</u></p>
	<div class="logo"><img alt="logo wordpress" src="/projet_defis/Images/img_alesi/wordpress.gif"></div><br>
	<br>
	<p>WordPress ou CMS (Content Management System), est un système de gestion de contenu gratuit , libre et open-source.<br>
	Ce logiciel écrit en PHP repose sur une base de données MySQL.<br>
	<br>
	Plus simplement, WordPress est un système utilisé pour créer toutes sortes de sites web, du simple blogue<br>
	allant au site multilingue d’une entreprise complexe, en passant par une boutique en ligne.<br>
	<br>
	<strong>Les avantages d'utiliser WordPress :</strong><br>
	- Open source donc “gratuit”<br>
	- Très rapide à installer et facile à utiliser<br>
	- CMS totalement adaptable<br>
	- Nombreux thèmes et extensions gratuits et payants existent<br>
	<br>
	Pour ce projet de conception de site web, j'utiliserai WordPress ainsi que son thème <u>"Divi" !</u></p><br>
	<p><u>b. Le thème Divi, c'est quoi ?</u></p>
	<div class="logo"><img alt="logo divi" src="/projet_defis/Images/img_alesi/logo_divi.jpg"></div><br>
	<br>
	<p><strong>Divi</strong> est un thème WordPress ultra populaire, utilisé sur des milliers de sites et qui permet de bénéficier d'un design qui lui est propre.<br>
	Ce thème propose des options d’apparence qui touchent généralement le Header (l’entête du site avec le menu et le logo) et le Footer du site web<br>
	(le pied de page ainsi que la zone des widgets), sans oublier la Sidebar contenant vos Widgets du blog et l’apparence de votre page de blog.<br>
	<br>
	Durant ce projet, une extension sera utilisée : <u>Le Divi Builder.</u><br>
	<br></p>
	<p><u>c. Divi builder, c'est quoi ?</u></p>
	<div class="logo"><img alt="logo divi" src="/projet_defis/Images/img_alesi/divi_builder.jpg"></div><br>
	<br>
	<p><strong>Le Divi Builder</strong> est tout simplement un plugin (extension). Il donne la possibilité de faire la construction des mises en page originales et complexes.<br>
	Cette extension est compatible avec tous les thèmes WordPress mais son fonctionnement sera bien plus optimal avec le thème Divi lui même.<br>
	<br>
	Ne pas confondre le thème Divi et le Divi Builder. Le Divi Builder est un plugin qui s'occupe du design, de la structure d'une page ou d'un article<br>
	alors que le thème Divi s'occupe du design général d'un site.<br>
	La particularité du thème Divi est que le Divi Builder est embarqué de manière native dans les fichiers du thème. Autrement dit, si vous installez le thème Divi<br>
	et que vous l’activez, vous n’avez pas besoin d’ajouter un constructeur de page, ni même le Divi Builder puisqu’il est déjà actif dans le thème.<br></p>
	<div class="logo"><img alt="image divi builder" src="/projet_defis/Images/img_alesi/divi_builder2.png"></div><br>
	<br>
	<hr style="height: 3px; color: #000;">
	<br>
	<br>
	<h5>III. La réalisation</h5><br>
	<h6>1. La maquette</h6><br>
	<p>Comme indiqué dans le cahier des charges (Partie 2 - Sous partie 1), la maquette n'a pas été conçue par l'association Défis.<br>
	C'est l'association Alesi qui a fait appel à un professionnel indépendant pour s'occuper du maquettage.<br>
	Mon rôle sera de réaliser une partie du site en respectant la maquette à l'indentique.</p>
	<p>Voici le lien pour accéder à la maquette :<br>
	<a href="https://xd.adobe.com/view/df7fa301-de8a-452e-9533-cd66e3330d61-8a2c/specs/" target="_blank">Lien de la maquette</a></p>
	<p>La maquette comprend au total 5 pages. Voici quelques exemples de la maquette :</p>
	<div class="logo"><img alt="image divi builder" src="/projet_defis/Images/img_alesi/maquette1.png"></div><br>
	<div class="logo"><img alt="image divi builder" src="/projet_defis/Images/img_alesi/maquette2.png"></div><br>
	<br>
	<br>
	<h6>2. Conseil à appliquer avant la réalisation du projet</h6><br>
	<p>Avant de se lancer dans la réalisation du site, il est important de mettre en place un élément important quel que soit le projet : <u>le thème enfant</u>.<br>
	<br>
	<u>Le thème enfant c'est quoi ?</u> Un thème enfant est un thème qui hérite des fonctionnalités et du style d'un autre thème, appelé thème parent (expl thème DIVI).<br>
	La raison principale de l'utiliser est de préserver le thème enfant des modifications apportées au thème parent (expl : modifier la structure, faire une MAJ ...).<br>
	Dans le cas d'une réalisation d'un site <u>sans thème enfant</u>, le risque est de perdre certains éléments (personnalisation du thème, code, ...) suite à une mise à jour par expl.<br>
	<br>
	La construction d'un thème enfant se fait avec un éditeur de texte, le thème DIVI, la création d'un fichier style.css et la création d'un fichier functions.php.</p><br>
	<h6>3. Réalisation avec l'extension Divi Builder</h6><br>
	<img alt="image divi créer les pages" class="image66" src="/projet_defis/Images/img_alesi/creation-page.png">
	<p><strong>Création des pages</strong></p><br>
	<br>
	<br>
	<br>
	<br>
	<img alt="image divi accès au builder" class="image66" src="/projet_defis/Images/img_alesi/acces_builder.png">
	<p><strong>Accès au Thème Builder pour personnaliser les pages</strong></p><br>
	<br>
	<br>
	<br>
	<br>
	<img alt="image bloc divi" class="image66" src="/projet_defis/Images/img_alesi/bloc_divi.jpg">
	<p><strong>La structure des pages passe par un système de blocs (bloc parent et bloc enfant)</strong></p><br>
	<br>
	<br>
	<br>
	<br>
	<img alt="image module divi" class="image66" src="/projet_defis/Images/img_alesi/module_divi.png">
	<p><strong>Choix des différents modules</strong></p><br>
	<br>
	<br>
	<br>
	<br>
	<img alt="image texte divi" class="image66" src="/projet_defis/Images/img_alesi/texte_divi.png">
	<p><strong>Ajout de texte avec le module "texte"</strong></p><br>
	<br>
	<br>
	<br>
	<br>
	<img alt="image style divi" class="image66" src="/projet_defis/Images/img_alesi/style_divi.png">
	<p><strong>Le style des textes (police, couleur etc...) sera directement changé dans l'onglet style du module</strong></p><br>
	<br>
	<br>
	<br>
	<br>
	<img alt="image classe divi" class="image66" src="/projet_defis/Images/img_alesi/classe_divi.png">
	<p><strong>On peut ajouter des classes ou des id à l'élément créé par le module</strong></p><br>
	<br>
	<br>
	<br>
	<br>
	<img alt="image media divi" class="image66" src="/projet_defis/Images/img_alesi/roles_divi.png">
	<p><strong>L'éditeur de rôle divi vous permet de contrôler ce que chaque rôle utilisateur WordPress peut faire dans Divi Builder.<br>
	Pour chaque rôle, vous pouvez désactiver certaines actions dans Divi Builder, ce qui limitera la façon dont le générateur peut être utilisé pour les utilisateurs de ce rôle.</strong></p><br>
	<br>
	<p><u>Les différents rôles dans Divi</u><br>
	- <strong>Administrateur</strong> : A accès à tout. Aucune limitation.<br>
	- <strong>Éditeur</strong> : A accès uniquement aux pages, tous les articles, tous les commentaires, toutes les catégories,<br>
	toutes les étiquettes, et tous les liens. Ne peut pas accéder aux paramètres, aux plugins et thèmes.<br>
	- <strong>Auteur</strong> : Seulement A accès à ses propres articles. Cela comprend l’édition, le téléchargement de photos et la publication d’article.<br>
	- <strong>Contributeur</strong> : A accès à l’édition de ses articles, mais ne peux pas les publier.<br>
	- <strong>Abonné</strong> : A uniquement la capacité de lire et de commenter les articles et les pages.<br>
	<br>
	Les fonctionnalités peuvent évidemment être personnalisées pour chaque rôle.</p><br>
	<br>
	<br>
	<br>
	<br>
	<img alt="image media divi" class="image66" src="/projet_defis/Images/img_alesi/roles-defaut.png">
	<p><strong>Dans les réglages de Divi, on peut appliquer un rôle par défaut pour chaque nouveau compte</strong></p><br>
	<br>
	<br>
	<hr style="height: 3px; color: #000;">
	<br>
	<br>
	<br>
	<p>Le site a depuis été déployé (début janvier 2022). Le lien se trouve ci-dessous pour accéder au site de l'association Alesi :<br>
	<a href="https://www.alesi-asso.fr/" target="_blank">Lien du site Alesi</a></p><br>
	<br>
	<br>
</body>
</html>